﻿<script type="text/html" id="questioneditor">
    <div id="surveyquestioneditorwindow" class="bs-modal fade" role="dialog"data-bind="with:koEditor">
        <div class="bs-modal-dialog">
            <div class="bs-modal-content">
                <div class="bs-modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="bs-modal-title" data-bind="text:koTitle"></h4>
                </div>  
                <div class="bs-modal-body svd_notopbottompaddings">
                    <!-- ko template: { name: "questioneditor-content", data: $data } -->
                    <!-- /ko -->
                </div>
                <div class="bs-modal-footer">
                    <input type="button" class="btn btn-primary" data-bind="click: onApplyClick, value: $root.getLocString('pe.apply')" style="width:100px" />
                    <input type="button" class="btn btn-default" data-bind="click: onOkClick, value: $root.getLocString('pe.ok')" style="width:100px" />
                    <input type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: onResetClick, value: $root.getLocString('pe.cancel')" style="width:100px" />
                </div>
            </div>
        </div>
    </div>
</script>
