﻿<script type="text/html" id="propertyeditor-modal">
    <div class="input-group" data-bind="visible:!editor.isEditable">
        <a data-toggle="modal" data-bind="attr: {'data-target' : modalNameTarget}"><span data-bind="text: koText"></span></a>
        <div class="input-group-btn">
            <button class="btn btn-default" data-toggle="modal" style="padding: 2px;" data-bind="attr: {'data-target' : modalNameTarget}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="input-group" data-bind="visible:editor.isEditable" style="display:table">
        <input class="form-control" type="text" data-bind="value: koValue" style="display:table-cell; width:100%" />
        <div class="input-group-btn">
            <button type="button" class="btn btn-default" style="display:table-cell; padding: 2px;"  data-toggle="modal" data-bind="attr: {'data-target' : modalNameTarget}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <div data-bind="attr: {id : modalName}" class="bs-modal fade" role="dialog">
        <div class="bs-modal-dialog">
            <div class="bs-modal-content">
                <div class="bs-modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="bs-modal-title" data-bind="text:editor.title"></h4>
                </div>  
                <div class="bs-modal-body svd_notopbottompaddings">
                    <!-- ko template: { name: 'propertyeditorcontent-' + editorType, data: editor } -->
                    <!-- /ko -->
                </div>
                <div class="bs-modal-footer">
                    <input type="button" class="btn btn-primary" data-bind="click: editor.onApplyClick, value: $root.getLocString('pe.apply')" style="width:100px" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: editor.onApplyClick, value: $root.getLocString('pe.ok')" style="width:100px" />
                    <input type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: editor.onResetClick, value: $root.getLocString('pe.cancel')" style="width:100px" />
                </div>
            </div>
        </div>
    </div>
</script>
